<h4>Bienvenido al perfil de {{user?.firstName}} {{user?.lastName}} </h4>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h6>Información del usuario</h6>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <p><b>Nombre:</b> {{ user?.firstName }} {{ user?.lastName}}</p>
            </div>
            <div class="col-6">
                <p><b>Correo electrónico:</b> {{user?.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p><b>Fecha de creación:</b> {{ user?.createdAt | date: "dd-MM-yyyy" }}</p>
            </div>
            <div class="col-6">
                <p><b>Contraseña: </b>
                    <mat-form-field>
                        <input [type]="passwordInputType" matInput [value]="user?.password"/>
                        <button
                        type="button"
                        (click)="togglePasswordInputType()"
                        matSuffix
                        mat-icon-button
                        >
                        <mat-icon>visibility</mat-icon>
                        </button>
                    </mat-form-field>
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>