
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-title><h4 style="text-align: center;">Próxima entrega</h4></mat-card-title>
                <mat-card-content>
                    <p>16 de Noviembre de 2024</p>
                    <p>Proyecto Final: Angular</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-title><h4 style="text-align: center;">Próxima entrega</h4></mat-card-title>
                <mat-card-content>
                    <p>23 de Noviembre de 2024</p>
                    <p>Entrega de certificado término de curso</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>